@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Homemade+Apple&family=Stalinist+One&display=swap');

h1{
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
}


.container-fluid{
    background-color: hsla(0, 3%, 54%, 0.459);
    margin: 5px;
    border-radius: 20px;
}

#nav_ul li a{
    background-color: black;
    color: aliceblue;
}